
<header>
   <h1>Header {{title}}</h1>

<ul class="nav">
    <li class="li"><a href="/">Weather</a></li>
   <li class="li"> <a href="/about">About</a></li>
   <li class="li"> <a href="/help">Help</a>    
</ul> </li>
</header>